<% if tasks.any? %>
  <ul>
    <% tasks.each do |task| %>
      <li>
        <img src="<%= gravatar_url(task.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <p><%= task.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>