<% if users.try(:any?) %>
  <ul>
    <% users.each do |user| %>
      <li>
        <img src="<%= gravatar_url(user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= user.name %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>